.login.login-bg {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/login/bg.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
}

.login.login-bg .login-content {
    position: fixed;
    top: 0;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 200px;
    width: 450px;
    /*height: 45%;*/
    background: #fff;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
}

.login.login-bg .logo > img {
    margin-top: 50px;
    width: 100%;
    max-width: 331px;
}

.login.login-bg .input-content {
    width: 100%;
    max-width: 331px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login.login-bg .input-content .form-control {
    height: 46px;
}

.login.login-bg .input-content .btn-login {
    color: #fff;
    background: #ea5413;
}

.login.login-bg .input-content .checkbox>label {
    float: left;
}